<!-- 左边导航栏 -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        
        
        <li class="sidebar-title"><span >NAVIGATION</span></li>
        <li class="sidebar-list" >
          <a ui-sref="index">系统管理 <span class="menu-icon fa fa-tachometer" ></span></a>
        </li>
        
        
        <li class="sidebar-list">
          <a ui-sref="index.test">测试 <span class="menu-icon fa fa-table"></span></a>
        </li>
        
        
        <li class="sidebar-list">
          <a ui-sref="index.goodsClassification">商品类别 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <hr/>
        <li class="sidebar-list">
          <a ui-sref="index.tables">商品管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">套餐管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">订单管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">客户管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">员工管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">部门管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">孩子管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">供应商管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">用户管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">权限管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">角色管理 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="index.tables">文件上传 <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
        </li>
        <li class="sidebar-list">
        </li>
      </ul>
      
      <div class="sidebar-footer" style="padding-top: 10px">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->