<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>OPEN CRM SYSTEM</title>
  <!-- 样式 -->
  <link rel="stylesheet" href="resources/lib/css/main.min.css"/>
  <!-- 脚本 -->
  <script src="resources/lib/js/angular.js"></script>
  <script src="resources/lib/js/angular-ui-router.js"></script>
  <script src="resources/lib/js/angular-resource.js"></script>
  <script src="resources/lib/js/angular-cookies.js"></script>
  <script src="resources/lib/js/angular-messages.js"></script>
  <script src="resources/lib/js/checklist-model.js"></script>
  <script src="resources/lib/js/ui-bootstrap-tpls-0.13.0.js"></script>
  
  
  
  <!--  -->
  <script type="text/javascript" src="resources/js/app.js"></script>
  <!-- 控制器 -->
  <script type="text/javascript" src="resources/js/controller.js"></script>
  <!-- 指令 -->
  <script type="text/javascript" src="resources/js/directive.js"></script>
  <!-- 商品类别 -->
  <script type="text/javascript" src="resources/js/goodsClassification/controller.js"></script>
  <script type="text/javascript" src="resources/js/goodsClassification/service.js"></script>
  <!-- 商品类别 -->
  
  
</head>
<body ng-controller="MasterCtrl">
 	<div ui-view></div>
</body>
</html>